@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0px;
    padding: 0px;
}
.header{
    position: fixed;
    left: 277px;
    top: 0px;
    width: calc(100% - 345px);
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}
.header h1{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
}
.profile ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 10px;
}
.ic li{
    list-style-type: none;
    border: 1px solid #D8B9C3;
    border-radius: 16px;
    height: 58px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.dot{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 10px;
    top: 0px;
    right: -2px;
}
img{
    height: 25px;
    width: 25px;
    
}
.ic li:last-child{
    padding: 0px;
}
.navi{
    position: fixed;
    left: 0px;
    top: 0px;
    height: calc(100% - 4px);
    width: 275px;
}
.logo{
    display: flex;
    height: 125px;
    color: #363062;
    align-items: center;
    justify-content: center;
}
.menu li{
    list-style-type: none;
    font-family: 'Poppins';
    font-size: 16px;
    padding: 22px;
    margin-top: 8px;

}
.menu li:hover{
    cursor: pointer;
    background-color:#EEEEEE;
    color:#363062;
    border-radius: 9px;
}
.menu h1{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
}
.menu ul{
    margin: 0px;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
}
.body{
    position: fixed;
    top: 130px;
    left: 275px;
}
h1{
    margin: 0px;
    padding: 0px;
}
.align{
    display: flex;
}
.card1{
    position: absolute;
    height: 191px;
    width: 339px;
    border-radius: 12px;
    background: linear-gradient(258.22deg, #e872f8 3.37%, #e872f8 3.38%, #e872f8 96.49%);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}
.top h6{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-top: 25px;
    margin-left: 25px;
    color: rgba(255, 255, 255, 0.6);
}
.top h1{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin-left: 25px;
    color: #FFFFFF;
}
.bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.icon{
    width: 40px;
    margin-right: 25px;
}
.left h6{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #FFEF60;
    margin-left: 25px;
}